<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org"
	xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="row">
			
			<div class="col-sm-11">
				<div class="ibox">
					<div class="ibox-body">
						<div class="fixed-table-toolbar">
							<div class="columns pull-left">
								
							</div>
							<div class="columns pull-right col-md-2 nopadding">
								<div class="input-group">
									<input type="text" placeholder="查找用户" autocomplete="off" class="input form-control">
									 <span class="input-group-btn">
										<button type="button" class="btn btn btn-primary" onclick="reLoad()">
											 <i class="fa fa-search"></i> 搜索
										</button>
									</span>
								</div>
							</div>
						</div>
						<table id="exampleTable" data-mobile-responsive="true">
						</table>
					</div>
				</div>
			</div>
		</div>
		
	<div th:include="include :: footer"></div>
	<script type="text/javascript" src="/js/appjs/system/online/online.js"></script>
</body>
</html>